{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align: center">Главная страница Allrecipes</h1>

    <div style="display: flex; justify-content: center; align-items: center; gap: 10px;">
        <button>Вход</button>
        <button>Регистрация</button>
    </div>
{% endblock %}
