{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/recipe_list.css') }}">
{% endblock %}

{% block body %}
    <div class="recipes-list">
        <div class="recipe-card">
            <a href="#"><image class="recipe-img" src="{{ asset('images/recipe1.jpg') }}"></a>
            <div class="recipe-descr">
                    <a href="#">
                        <h3>Recipe 1</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in pulvinar magna.
                            Phasellus euismod mauris sapien, nec dignissim diam commodo eget. Mauris enim arcu,
                            blandit vitae iaculis sit amet, scelerisque vitae dui. Nullam convallis lobortis magna,
                            non consectetur urna. Phasellus nec purus metus. Ut eu urna nunc. Quisque pulvinar, dolor
                            a consectetur volutpat, nisi leo dignissim quam, vitae fringilla neque lorem sit amet lectus.
                        </p>
                    </a>
            </div>
        </div>

        <div class="recipe-card">
            <a href="#"><image class="recipe-img" src="{{ asset('images/recipe2.jpg') }}"></a>
            <div class="recipe-descr">
                    <a href="#">
                        <h3>Recipe 2</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in pulvinar magna.
                            Phasellus euismod mauris sapien, nec dignissim diam commodo eget. Mauris enim arcu,
                            blandit vitae iaculis sit amet, scelerisque vitae dui. Nullam convallis lobortis magna,
                            non consectetur urna. Phasellus nec purus metus. Ut eu urna nunc. Quisque pulvinar, dolor
                            a consectetur volutpat, nisi leo dignissim quam, vitae fringilla neque lorem sit amet lectus.
                        </p>
                    </a>
            </div>
        </div>

        <div class="recipe-card">
            <a href="#"><image class="recipe-img" src="{{ asset('images/recipe3.jpg') }}"></a>
            <div class="recipe-descr">
                    <a href="#">
                        <h3>Recipe 3</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in pulvinar magna.
                            Phasellus euismod mauris sapien, nec dignissim diam commodo eget. Mauris enim arcu,
                            blandit vitae iaculis sit amet, scelerisque vitae dui. Nullam convallis lobortis magna,
                            non consectetur urna. Phasellus nec purus metus. Ut eu urna nunc. Quisque pulvinar, dolor
                            a consectetur volutpat, nisi leo dignissim quam, vitae fringilla neque lorem sit amet lectus.
                        </p>
                    </a>
            </div>
        </div>
    </div>
{% endblock %}
