{% extends "base.html.twig" %}

{% block body %}
    <form style="display: flex; justify-content: center; align-items: center; gap: 10px; flex-direction: column;">
        <h2>Вход</h2>

        <input placeholder="Почта">
        <input placeholder="Пароль">

        <p><a href="#">Забыли пароль?</a></p>
    </form>
{% endblock %}
